@model TaskManager.Web.Models.TasksViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 text-left">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Add", "")'">Add</button>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-warning" id="editButton" disabled>Edit</button>
            <button class="btn btn-danger" id="removeButton" disabled>Remove</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td><input type="radio" name="selectedTask" value="@task.Id" class="task-radio" /></td>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.Status.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var taskId;

            function enableButtons() {
                $('#editButton').removeAttr('disabled');
                $('#removeButton').removeAttr('disabled');
            }

            function disableButtons() {
                $('#editButton').attr('disabled', 'disabled');
                $('#removeButton').attr('disabled', 'disabled');
            }

            function redirectToUpdate() {
                if (taskId) {
                    location.href = '@Url.Action("Update", "")?id=' + taskId;
                }
            }

            function removeTask() {
                if (taskId) {
                    $.ajax({
                        url: '@Url.Action("Remove", "")',
                        type: 'POST',
                        data: { id: taskId },
                        success: function () {
                            location.reload();
                        }
                    });
                }
            }

            $('.task-radio').change(function () {
                if ($(this).is(':checked')) {
                    taskId = $(this).val();
                    enableButtons();
                } else {
                    taskId = null;
                    disableButtons();
                }
            });

            $('#editButton').click(redirectToUpdate);
            $('#removeButton').click(function (event) {
                event.preventDefault();
                removeTask();
            });
        });
    </script>
}
